.vs/Infix2Postfix/v15/.suo
.vs/Infix2Postfix/v15/Server/sqlite3/storage.ide-shm
.vs/Infix2Postfix/v15/Server/sqlite3/db.lock
.vs/Infix2Postfix/v15/Server/sqlite3/storage.ide
.vs/Infix2Postfix/v15/Server/sqlite3/storage.ide-wal
bin/Debug/netcoreapp2.1/Infix2Postfix.dll
bin/Debug/netcoreapp2.1/Infix2Postfix.pdb
bin/Debug/netcoreapp2.1/Infix2Postfix.runtimeconfig.dev.json
bin/Debug/netcoreapp2.1/Infix2Postfix.deps.json
bin/Debug/netcoreapp2.1/Infix2Postfix.runtimeconfig.json
bin/Debug/netcoreapp2.1/xunit.runner.reporters.netcoreapp10.dll
bin/Debug/netcoreapp2.1/xunit.runner.utility.netcoreapp10.dll
bin/Debug/netcoreapp2.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
obj/Infix2Postfix.csproj.nuget.g.targets
obj/Infix2Postfix.csproj.nuget.cache
obj/Infix2Postfix.csproj.nuget.g.props
obj/project.assets.json
obj/Debug/netcoreapp2.1/Infix2Postfix.dll
obj/Debug/netcoreapp2.1/Infix2Postfix.pdb
obj/Debug/netcoreapp2.1/Infix2Postfix.Program.cs
obj/Debug/netcoreapp2.1/Infix2Postfix.assets.cache
obj/Debug/netcoreapp2.1/Infix2Postfix.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/Infix2Postfix.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/Infix2Postfix.csprojAssemblyReference.cache
obj/Infix2Postfix.csproj.nuget.cache
obj/Infix2Postfix.csproj.nuget.g.props
obj/Infix2Postfix.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.1/Infix2Postfix.assets.cache
obj/Debug/netcoreapp2.1/Infix2Postfix.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/Infix2Postfix.csprojAssemblyReference.cache
